// @import "/assets/sass/layout/nav";

.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;

  .edit {
    position: absolute;
    right: 3rem;
    top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
  }
  //! MEllanrummet mellan texten redigera och pennan
  .redigera {
    padding-right: 0.3rem;
  }

  .frame-56 {
    margin: 0 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    box-sizing: border-box;
  }

  //! Profilbild box
  .profil-pic-box {
    border-radius: 4.1rem;
    background-image: url("/assets/img/profilpic.jpg");
    margin: 0 0 1.4rem 0rem;
    width: 8.1rem;
    height: 8.1rem;
  }
  //!Typografi som ska flyttas
  .h1-saved {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    color: #111010;
  }
  .profilPic-textBox {
    margin: 0 0rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }

  //!main

  .main-saved {
    margin: 0 1rem 1.4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    box-sizing: border-box;
  }

  //!Nav style
  .nav-icons {
    width: 1.3rem;
    height: 1.5rem;
  }

  .home-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.3rem;
    height: 1.5rem;
    box-sizing: border-box;
  }

  .search-1 {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }

  .user-filled {
    margin: 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    box-sizing: border-box;
  }
  .navigation {
    background: #ededed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.8rem 0;
    width: 100%;
    box-sizing: border-box;
  }
}
