.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;
}
.big-container .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
}
.big-container .h1-saved {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
}
.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .besksml-4 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.5);
}
.big-container .saved-box {
  margin: 0.6rem 1.7rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}
.big-container .maps-box {
  border-bottom: 0.1rem solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0.1rem 0.5rem 0;
  box-sizing: border-box;
}
.big-container .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .vector {
  width: 1.2rem;
  height: 1rem;
}
.big-container .misort {
  margin: 0.3rem 1.1rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .rectangle-3 {
  border-radius: 0.1rem;
  border: 0.1rem solid #000000;
  margin-right: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
}
.big-container .frame-2 {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-3 {
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-1 {
  border-bottom: 0.1rem solid #000000;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
  width: 1.5rem;
  box-sizing: border-box;
}
.big-container .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .share-filter-box {
  display: flex;
  flex-direction: row;
  width: 6.2rem;
  box-sizing: border-box;
}
.big-container .vector-2 {
  width: 0.9rem;
  height: 0.9rem;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .vector-4 {
  width: 1.1rem;
  height: 1.1rem;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.big-container .vector-3 {
  width: 1rem;
  height: 0.3rem;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
  box-sizing: border-box;
}
.big-container .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 5.4rem;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.big-container .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.4rem);
  box-sizing: border-box;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}
.big-container .share-icon-box {
  border-radius: 6.3rem;
  background: #ffffff;
  margin-bottom: 4.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.3rem 0.4rem 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: border-box;
}
.big-container .vector-5 {
  margin-top: 2.5rem;
  width: 4.4rem;
  height: 3.4rem;
}
.big-container .folder-open {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  flex: 1 0 auto;
  height: 9.4rem;
  box-sizing: border-box;
}
.big-container .lorem-ipsum {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}
.big-container .saved-accommodations {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .frame-29 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .kort-medium {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 9.7rem;
  box-sizing: border-box;
}
.big-container .frame-291 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .map-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.big-container .frame-292 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-293 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-771 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .map-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .icon-mapp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}
.big-container .nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}
.big-container .backArrow-icon {
  width: 2rem;
  height: 2rem;
}
.big-container .home-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .search-1 {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .user-filled {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: border-box;
}
.big-container .navigation {
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.8rem 0;
  width: 100%;
  box-sizing: border-box;
}
.big-container .arrow-back-top-left {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}/*# sourceMappingURL=savedmaps.css.map */