@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/hero";
@import "layout/footer";
@import "layout/nav";

@import "components/accessibility";
@import "components/buttons";
@import "components/chips";
@import "components/searchbar";
@import "components/largeCard";

@import "pages/home";
@import "pages/savedmaps";

body {
  background-color: white;
}

.flex-container {
  max-width: 1200px;
  //margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: var(--flex-gap);

  @media (min-width: 700px) {
    margin: 0 4rem;
  }

  /* Denna kod ska läggas till på lämpligt ställe ex i en komponent partial */
  /* Om ni vill använda gap och vill att det blir smooth med mellanrummen använd denna uträkning */
  /* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */
  /* flex: 0 0 calc((100% / 3) - (((3 - 1) / 3) * 1rem)); */

  //! Ta användinga av detta sen när stylen sätts, så korten flexar sig
  // .flex-item {
  //   --flex-items: 1;
  //   background-color: blue;
  //   border: 1px solid red;
  //   flex: 0 0
  //     calc(
  //       (100% / var(--flex-items)) -
  //         (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
  //     );

  //   @media (min-width: 520px) {
  //     --flex-items: 2;
  //   }

  //   @media (min-width: 920px) {
  //     --flex-items: 3;
  //   }
  // }
}
