.chip {
    + label {
      display: inline-block;
      background-color: yellow;
      border-radius: 5rem;
      padding: 0.5rem 1.5rem;
      margin-bottom: 0.4rem;
      //color: white;
      font-size: 1rem;
      user-select: none;
      cursor: pointer;
    }

    &[type="checkbox"] {
      display: none;

      &:checked {
        + label {
          background-color: red;
        }
      }
    }
  }