//!Mixin för mediafrågor
@mixin bp-sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}
@mixin bp-md {
  @media (min-width: $bp-md) {
    @content;
  }
}
@mixin bp-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}
@mixin bp-xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}

//Mixin för att använda flexbox
@mixin flexbox($justify: flex-start, $alignItem: stretch, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItem;
  flex-wrap: $wrap;
}

@mixin coverer {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}
