.navigation {
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.8rem 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}

.nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}
